body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', 'HelveticaNeue-Light', 'Ubuntu', 'Droid Sans', sans-serif;
    font-size: 0.85rem;
    max-width: 900px;
    line-height: 1.6em;
}

.external {
    color: red;
}

table {
    border-collapse: collapse;
    font-size: inherit;
}

table, th, td {
    border: 1px solid black;
    padding: .5rem;
    vertical-align: top;
}

table.layout-table, table.layout-table td {
    border: none;
    padding: .5rem;
    vertical-align: top;
}

th {
    background: #64e3ff;
}

caption {
    caption-side: bottom;
    padding-top: .5rem;
    font-weight: bold;
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

ul {
    margin-block-start: 0.3em;
    margin-block-end: 0.5em;
}
ul li {
    padding-block-start: 0.1em;
    padding-block-end: 0.1em;
}

td ul {
    margin-top: 0;
    padding-left: 1.4em;
}

td li {
    padding: 0;
    padding-bottom: 0.3em;
}

td p {
    margin-block-start: 0;
}

code {
    font-family: monospace, monospace;
    color: #006087;
}

a{
    color: #00b1e6;
}

h1 {
    color: #0081b4;
}
h2 {
    font-weight: normal;
    font-size: 2em;
    color: #0081b4;
}
h3 {
    font-weight: normal;
    font-size: 1.5em;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    border: 1px black solid;
    background-color: #F8F8F8;
    margin: 0;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
}


ul.markdownIt-TOC li {
    padding-block-start: 0;
    padding-block-end: 0;
}

ul.markdownIt-TOC, ul.markdownIt-TOC ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 1.4em;
}

.markdownIt-TOC li a {
    color: #505050;
}

ul.markdownIt-TOC > li > a {
    font-size: 1.1em;
    color: #0081b4;
}

.admonition{
    padding: 0.5rem;
    padding-block-start: 0;
    padding-block-end: 0;
}

.admonition p {
    margin-block-start: 0;
    margin-block-end: 0.5rem;
}
.admonition.note, .admonition.info { 
    border: 1px solid black;
    background-color: #EFFBFF;
}

.admonition.warning{
    border: 1px solid black;
    background-color: #FFE3B5;
}

p.admonition-title {
    font-weight: 500;
    font-style: italic;
    font-size: 1.1em;
    display: table-cell;
    vertical-align: middle;
    min-height: 32px;
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
}
p.admonition-title img {
    padding-right: 5px;
    padding-top: 0px;
    position: relative;
    top: 10px;
}

a:link.markdownit-Anchor, a:visited.markdownit-Anchor  {
    color: lightgrey;
}

a:hover.markdownit-Anchor {
    color: #00b1e6;
}

div.sidebar {
    width: 10rem; 
    height: 100%;
    background-color: #EFFBFF; 
    position: fixed!important; 
	z-index: 1;
}

div.sidebar h1 {
    font-size: 1.2em;
}

div.sidebar ul {
    padding-left: 1.5em;
}

div.maindoc {
    margin-left: 11rem;
}